USE [master]
GO
/****** Object:  Database [PBL3]    Script Date: 06/06/2026 9:19:59 pm ******/
CREATE DATABASE [PBL3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3', FILENAME = N'D:\SQLExpressEdition\MSSQL17.SQLEXPRESS\MSSQL\DATA\PBL3.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_log', FILENAME = N'D:\SQLExpressEdition\MSSQL17.SQLEXPRESS\MSSQL\DATA\PBL3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3]
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaBangLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[ThangNam] [varchar](7) NOT NULL,
	[TongGioLam] [decimal](10, 2) NULL,
	[GioTangCa] [decimal](10, 2) NULL,
	[LuongTheoGio] [decimal](18, 2) NOT NULL,
	[Thuong] [decimal](18, 2) NULL,
	[KhauTru] [decimal](18, 2) NULL,
	[PhuCap] [decimal](18, 2) NULL,
	[TongLuong] [decimal](18, 2) NOT NULL,
	[NgayTinhLuong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhLuong]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhLuong](
	[MaCauHinh] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[LuongTheoGio] [decimal](18, 2) NOT NULL,
	[HeSoLuong] [decimal](5, 2) NULL,
	[PhuCapCoDinh] [decimal](18, 2) NULL,
	[HeSoTangCa] [decimal](5, 2) NULL,
	[NgayApDung] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiaCa]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiaCa](
	[MaCa] [varchar](20) NOT NULL,
	[MaLoaiCa] [varchar](20) NULL,
	[NgayLam] [date] NULL,
	[MaNV] [varchar](20) NULL,
	[ThoiGianCheckIn] [datetime] NULL,
	[ThoiGianCheckOut] [datetime] NULL,
	[TienDauCa] [decimal](18, 2) NULL,
	[TienCuoiCa] [decimal](18, 2) NULL,
	[TienChenhLech] [decimal](18, 2) NULL,
	[TienBanHang] [decimal](18, 2) NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[MaLoHang] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[MaGiamGia] [varchar](20) NULL,
	[ThanhTienSanPham] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC,
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLoHang]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLoHang](
	[MaLoHang] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[SoLuongNhap] [int] NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuHuy]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuHuy](
	[MaPhieuHuy] [varchar](50) NOT NULL,
	[MaLoHang] [varchar](50) NOT NULL,
	[MaSP] [varchar](50) NOT NULL,
	[SoLuongHuy] [int] NULL,
	[GiaTriHuy] [decimal](18, 2) NULL,
	[LyDoChiTiet] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuHuy] ASC,
	[MaLoHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGiamGia] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NULL,
	[BatDau] [datetime] NULL,
	[KetThuc] [datetime] NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[LoaiGiamGia] [nvarchar](50) NULL,
	[TrangThaiGiamGia] [nvarchar](50) NULL,
	[SoLuongApDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaKH] [varchar](20) NULL,
	[MaNV] [varchar](20) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[TongGiamGia] [decimal](18, 2) NULL,
	[TruTichDiem] [decimal](18, 2) NULL,
	[PhuongThucTT] [nvarchar](50) NULL,
	[KhachDua] [decimal](18, 2) NULL,
	[TienThua] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TraHang] [bit] NULL,
	[LyDoTraHang] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[DiemTichLuy] [decimal](18, 2) NULL,
	[NgayDangKy] [date] NULL,
	[BacKH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemKeKho]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemKeKho](
	[MaKiemKe] [varchar](20) NOT NULL,
	[MaLoHang] [varchar](20) NULL,
	[MaSP] [varchar](20) NULL,
	[SoLuongHeThong] [int] NULL,
	[SoLuongThucTe] [int] NULL,
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayKiemKe] [datetime] NULL,
	[MaNV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKiemKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThongKe]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThongKe](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[PhanHe] [varchar](50) NOT NULL,
	[TenLichSu] [nvarchar](255) NOT NULL,
	[NoiDungJson] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCa]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCa](
	[MaLoaiCa] [varchar](20) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [varchar](20) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLoHang] [varchar](20) NOT NULL,
	[MaNCC] [varchar](20) NULL,
	[NgayNhapKho] [date] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgayVaoLam] [date] NULL,
	[NgayNghiViec] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTieuHuy]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTieuHuy](
	[MaPhieuHuy] [varchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaNV] [varchar](50) NOT NULL,
	[TongSoLuong] [int] NULL,
	[TongGiaTriHuy] [decimal](18, 2) NULL,
	[LyDoHuy] [nvarchar](255) NULL,
	[TrangThaiHuy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuHuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MaLoai] [varchar](20) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[LinkHinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [varchar](20) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuong] ON 

INSERT [dbo].[BangLuong] ([MaBangLuong], [MaNV], [ThangNam], [TongGioLam], [GioTangCa], [LuongTheoGio], [Thuong], [KhauTru], [PhuCap], [TongLuong], [NgayTinhLuong]) VALUES (1, N'NV001', N'05/2026', CAST(3.22 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(2000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5956000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(484000.00 AS Decimal(18, 2)), CAST(N'2026-05-29' AS Date))
INSERT [dbo].[BangLuong] ([MaBangLuong], [MaNV], [ThangNam], [TongGioLam], [GioTangCa], [LuongTheoGio], [Thuong], [KhauTru], [PhuCap], [TongLuong], [NgayTinhLuong]) VALUES (2, N'NV001', N'01/2026', CAST(198.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(5550000.00 AS Decimal(18, 2)), CAST(N'2026-01-31' AS Date))
INSERT [dbo].[BangLuong] ([MaBangLuong], [MaNV], [ThangNam], [TongGioLam], [GioTangCa], [LuongTheoGio], [Thuong], [KhauTru], [PhuCap], [TongLuong], [NgayTinhLuong]) VALUES (3, N'NV001', N'02/2026', CAST(205.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(5925000.00 AS Decimal(18, 2)), CAST(N'2026-02-28' AS Date))
SET IDENTITY_INSERT [dbo].[BangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinhLuong] ON 

INSERT [dbo].[CauHinhLuong] ([MaCauHinh], [MaNV], [LuongTheoGio], [HeSoLuong], [PhuCapCoDinh], [HeSoTangCa], [NgayApDung], [TrangThai]) VALUES (1, N'NV001', CAST(20000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(N'2026-05-29' AS Date), N'Hết hiệu lực')
INSERT [dbo].[CauHinhLuong] ([MaCauHinh], [MaNV], [LuongTheoGio], [HeSoLuong], [PhuCapCoDinh], [HeSoTangCa], [NgayApDung], [TrangThai]) VALUES (2, N'NV001', CAST(2000000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(N'2026-05-29' AS Date), N'Đang áp dụng')
SET IDENTITY_INSERT [dbo].[CauHinhLuong] OFF
GO
INSERT [dbo].[ChiaCa] ([MaCa], [MaLoaiCa], [NgayLam], [MaNV], [ThoiGianCheckIn], [ThoiGianCheckOut], [TienDauCa], [TienCuoiCa], [TienChenhLech], [TienBanHang], [TinhTrang]) VALUES (N'CA260505-001', N'LC01', CAST(N'2026-05-05' AS Date), N'NV001', CAST(N'2026-05-05T23:06:08.730' AS DateTime), CAST(N'2026-05-05T23:50:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), CAST(565000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(65000.00 AS Decimal(18, 2)), N'Đã hoàn thành')
INSERT [dbo].[ChiaCa] ([MaCa], [MaLoaiCa], [NgayLam], [MaNV], [ThoiGianCheckIn], [ThoiGianCheckOut], [TienDauCa], [TienCuoiCa], [TienChenhLech], [TienBanHang], [TinhTrang]) VALUES (N'CA260512-001', N'LC03', CAST(N'2026-05-12' AS Date), N'NV002', CAST(N'2026-05-12T21:53:57.453' AS DateTime), CAST(N'2026-05-12T23:16:30.263' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(125000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(125000.00 AS Decimal(18, 2)), N'Đã hoàn thành')
INSERT [dbo].[ChiaCa] ([MaCa], [MaLoaiCa], [NgayLam], [MaNV], [ThoiGianCheckIn], [ThoiGianCheckOut], [TienDauCa], [TienCuoiCa], [TienChenhLech], [TienBanHang], [TinhTrang]) VALUES (N'CA260512-002', N'LC03', CAST(N'2026-05-12' AS Date), N'NV001', CAST(N'2026-05-12T21:15:21.157' AS DateTime), CAST(N'2026-05-12T23:16:30.263' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(125000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(125000.00 AS Decimal(18, 2)), N'Đã hoàn thành')
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [MaLoHang], [SoLuong], [DonGia], [MaGiamGia], [ThanhTienSanPham]) VALUES (N'HD260505-001', N'SP001', N'LH250924-001', 1, CAST(25000.00 AS Decimal(18, 2)), NULL, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [MaLoHang], [SoLuong], [DonGia], [MaGiamGia], [ThanhTienSanPham]) VALUES (N'HD260505-002', N'SP007', N'LH260306-001', 1, CAST(15000.00 AS Decimal(18, 2)), NULL, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [MaLoHang], [SoLuong], [DonGia], [MaGiamGia], [ThanhTienSanPham]) VALUES (N'HD260505-003', N'SP001', N'LH250924-001', 1, CAST(25000.00 AS Decimal(18, 2)), NULL, CAST(25000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietLoHang] ([MaLoHang], [MaSP], [GiaNhap], [SoLuongNhap], [NSX], [HSD], [SoLuongTon]) VALUES (N'LH250128-001', N'SP016', CAST(26000.00 AS Decimal(18, 2)), 70, CAST(N'2025-04-11' AS Date), CAST(N'2027-04-11' AS Date), 70)
INSERT [dbo].[ChiTietLoHang] ([MaLoHang], [MaSP], [GiaNhap], [SoLuongNhap], [NSX], [HSD], [SoLuongTon]) VALUES (N'LH250128-001', N'SP019', CAST(32000.00 AS Decimal(18, 2)), 55, CAST(N'2025-08-13' AS Date), CAST(N'2027-08-13' AS Date), 55)
INSERT [dbo].[ChiTietLoHang] ([MaLoHang], [MaSP], [GiaNhap], [SoLuongNhap], [NSX], [HSD], [SoLuongTon]) VALUES (N'LH250128-001', N'SP026', CAST(20000.00 AS Decimal(18, 2)), 60, CAST(N'2026-02-15' AS Date), CAST(N'2026-05-15' AS Date), 60)
GO
INSERT [dbo].[ChiTietPhieuHuy] ([MaPhieuHuy], [MaLoHang], [MaSP], [SoLuongHuy], [GiaTriHuy], [LyDoChiTiet]) VALUES (N'PTH260515-001', N'LH260108-001', N'SP005', 60, CAST(480000.00 AS Decimal(18, 2)), N'[HÀNG HẾT HẠN SỬ DỤNG] Hàng hết hạn')
INSERT [dbo].[ChiTietPhieuHuy] ([MaPhieuHuy], [MaLoHang], [MaSP], [SoLuongHuy], [GiaTriHuy], [LyDoChiTiet]) VALUES (N'PTH260515-001', N'LH260302-001', N'SP005', 60, CAST(480000.00 AS Decimal(18, 2)), N'[HÀNG HẾT HẠN SỬ DỤNG] Hàng hết hạn')
INSERT [dbo].[ChiTietPhieuHuy] ([MaPhieuHuy], [MaLoHang], [MaSP], [SoLuongHuy], [GiaTriHuy], [LyDoChiTiet]) VALUES (N'PTH260515-002', N'LH260220-001', N'SP028', 35, CAST(1470000.00 AS Decimal(18, 2)), N'[HÀNG HẾT HẠN SỬ DỤNG] Hàng hết hạn')
GO
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSP], [BatDau], [KetThuc], [GiamGia], [LoaiGiamGia], [TrangThaiGiamGia], [SoLuongApDung]) VALUES (N'GG001', N'SP005', CAST(N'2026-05-13T16:59:00.000' AS DateTime), CAST(N'2026-05-22T00:00:00.000' AS DateTime), CAST(15.00 AS Decimal(18, 2)), N'Tự Nhập', N'Đã kết thúc', 100)
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSP], [BatDau], [KetThuc], [GiamGia], [LoaiGiamGia], [TrangThaiGiamGia], [SoLuongApDung]) VALUES (N'GG002', N'SP026', CAST(N'2026-05-13T16:19:32.823' AS DateTime), CAST(N'2026-05-15T23:59:59.000' AS DateTime), CAST(20.00 AS Decimal(18, 2)), N'Tự động', N'Đã kết thúc', 60)
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSP], [BatDau], [KetThuc], [GiamGia], [LoaiGiamGia], [TrangThaiGiamGia], [SoLuongApDung]) VALUES (N'GG004', N'SP011', CAST(N'2026-05-13T16:31:09.037' AS DateTime), CAST(N'2026-07-01T23:59:59.000' AS DateTime), CAST(5.00 AS Decimal(18, 2)), N'Tự động', N'Đang diễn ra', 149)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [MaKH], [MaNV], [ThanhTien], [TongGiamGia], [TruTichDiem], [PhuongThucTT], [KhachDua], [TienThua], [GhiChu], [TraHang], [LyDoTraHang]) VALUES (N'HD260505-001', CAST(N'2026-05-05T23:06:18.650' AS DateTime), NULL, N'NV001', CAST(25000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(25000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Mua trực tiếp tại quầy', 1, N'Khách trả toàn bộ đơn_12/05/2026')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [MaKH], [MaNV], [ThanhTien], [TongGiamGia], [TruTichDiem], [PhuongThucTT], [KhachDua], [TienThua], [GhiChu], [TraHang], [LyDoTraHang]) VALUES (N'HD260505-002', CAST(N'2026-05-05T23:06:30.447' AS DateTime), NULL, N'NV001', CAST(15000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(15000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Mua trực tiếp tại quầy', NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [MaKH], [MaNV], [ThanhTien], [TongGiamGia], [TruTichDiem], [PhuongThucTT], [KhachDua], [TienThua], [GhiChu], [TraHang], [LyDoTraHang]) VALUES (N'HD260505-003', CAST(N'2026-05-05T23:11:57.900' AS DateTime), NULL, N'NV001', CAST(25000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(30000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), N'Mua trực tiếp tại quầy', NULL, NULL)
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiemTichLuy], [NgayDangKy], [BacKH]) VALUES (N'KH000', N'Khách vãng lai', NULL, CAST(0.00 AS Decimal(18, 2)), NULL, N'Không hạng')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiemTichLuy], [NgayDangKy], [BacKH]) VALUES (N'KH001', N'Changg', N'0973535937', CAST(1024.00 AS Decimal(18, 2)), CAST(N'2026-05-13' AS Date), N'Không hạng')
GO
INSERT [dbo].[KiemKeKho] ([MaKiemKe], [MaLoHang], [MaSP], [SoLuongHeThong], [SoLuongThucTe], [LyDo], [TrangThai], [NgayKiemKe], [MaNV]) VALUES (N'KK260514-001', N'LH250912-001', N'SP001', 50, 49, N'CHƯA RÕ', N'Đã Cân Kho', CAST(N'2026-05-14T00:00:00.000' AS DateTime), N'NV002')
INSERT [dbo].[KiemKeKho] ([MaKiemKe], [MaLoHang], [MaSP], [SoLuongHeThong], [SoLuongThucTe], [LyDo], [TrangThai], [NgayKiemKe], [MaNV]) VALUES (N'KK260514-002', N'LH251003-001', N'SP027', 40, 40, N'Khớp kho.', N'Đã Cân Kho', CAST(N'2026-05-14T00:00:00.000' AS DateTime), N'NV002')
INSERT [dbo].[KiemKeKho] ([MaKiemKe], [MaLoHang], [MaSP], [SoLuongHeThong], [SoLuongThucTe], [LyDo], [TrangThai], [NgayKiemKe], [MaNV]) VALUES (N'KK260514-003', N'LH250825-001', N'SP039', 35, 36, N'....[🔄 Bù 1 SP sang Lô LH250924-001]  ✅ CHỐT: Vừa đủ (Huề kho).', N'Đã Cân Kho', CAST(N'2026-05-14T00:00:00.000' AS DateTime), N'NV002')
GO
SET IDENTITY_INSERT [dbo].[LichSuThongKe] ON 

SET IDENTITY_INSERT [dbo].[LichSuThongKe] OFF
GO
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'LC01', N'Ca sáng', CAST(N'00:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'LC02', N'Ca chiều', CAST(N'12:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'LC03', N'Ca tối', CAST(N'18:00:00' AS Time), CAST(N'23:00:00' AS Time))
GO
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'L01', N'Thực phẩm tươi sống')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'L02', N'Thực phẩm khô')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'L03', N'Đồ ăn nhanh')
GO
INSERT [dbo].[LoHang] ([MaLoHang], [MaNCC], [NgayNhapKho], [ThanhTien]) VALUES (N'LH250128-001', N'NCC005', CAST(N'2025-01-28' AS Date), CAST(1500000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoHang] ([MaLoHang], [MaNCC], [NgayNhapKho], [ThanhTien]) VALUES (N'LH250225-001', N'NCC005', CAST(N'2025-02-25' AS Date), CAST(800000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoHang] ([MaLoHang], [MaNCC], [NgayNhapKho], [ThanhTien]) VALUES (N'LH250320-001', N'NCC004', CAST(N'2025-03-20' AS Date), CAST(1000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [Email], [DiaChi], [TrangThai]) VALUES (N'NCC001', N'Công ty Bánh Kẹo An Phát', N'0905123456', N'banhkeoanphatf@gmail.com', N'Đà Nẵng', N'Đang hợp tác')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [Email], [DiaChi], [TrangThai]) VALUES (N'NCC002', N'Công ty Sản xuất Kẹo Minh Long', N'0905234567', N'keongotminhlong@gmail.com', N'Quảng Nam', N'Đang hợp tác')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [Email], [DiaChi], [TrangThai]) VALUES (N'NCC003', N'Nhà Phân Phối Nước Giải Khát Hòa Bình', N'0905345678', N'hoabinhdrink@gmail.com', N'Huế', N'Đang hợp tác')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [ChucVu], [TrangThai], [NgayVaoLam], [NgayNghiViec]) VALUES (N'NV001', N'Changg', N'0973535937', N'Thu Ngân', N'Đang Làm Việc', CAST(N'2026-05-05' AS Date), NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [ChucVu], [TrangThai], [NgayVaoLam], [NgayNghiViec]) VALUES (N'NV002', N'Changg Le', N'0973535936', N'ADMIN', N'Đang Làm Việc', CAST(N'2026-05-05' AS Date), NULL)
GO
INSERT [dbo].[PhieuTieuHuy] ([MaPhieuHuy], [NgayTao], [MaNV], [TongSoLuong], [TongGiaTriHuy], [LyDoHuy], [TrangThaiHuy]) VALUES (N'PTH260515-001', CAST(N'2026-05-15T22:55:33.877' AS DateTime), N'NV001', 120, CAST(960000.00 AS Decimal(18, 2)), N'Hàng hết hạn', N'DA_TIEU_HUY')
INSERT [dbo].[PhieuTieuHuy] ([MaPhieuHuy], [NgayTao], [MaNV], [TongSoLuong], [TongGiaTriHuy], [LyDoHuy], [TrangThaiHuy]) VALUES (N'PTH260515-002', CAST(N'2026-05-15T23:44:21.067' AS DateTime), N'NV002', 105, CAST(4410000.00 AS Decimal(18, 2)), N'Hàng hết hạn', N'DA_TIEU_HUY')
INSERT [dbo].[PhieuTieuHuy] ([MaPhieuHuy], [NgayTao], [MaNV], [TongSoLuong], [TongGiaTriHuy], [LyDoHuy], [TrangThaiHuy]) VALUES (N'PTH260515-003', CAST(N'2026-05-15T23:45:49.423' AS DateTime), N'NV002', 50, CAST(900000.00 AS Decimal(18, 2)), N'Hàng hết hạn', N'DA_TIEU_HUY')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [GiaBan], [DonViTinh], [LinkHinhAnh]) VALUES (N'SP001', N'Bánh quy bơ Cosy', N'L04', CAST(25000.00 AS Decimal(18, 2)), N'Hộp', N'banh-quy-bo-sua-cosy-hop.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [GiaBan], [DonViTinh], [LinkHinhAnh]) VALUES (N'SP002', N'Bánh gạo One One', N'L04', CAST(18000.00 AS Decimal(18, 2)), N'Gói', N'banh-gao-vi-ngot-diu-one-one-goi-150g.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [GiaBan], [DonViTinh], [LinkHinhAnh]) VALUES (N'SP003', N'Bánh Oreo socola', N'L04', CAST(15000.00 AS Decimal(18, 2)), N'Gói', N'banh-quy-oreo-kem-socola-goi-665g.jpg')
GO
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau]) VALUES (N'NV001', N'NV001', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau]) VALUES (N'NV002', N'NV002', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F0B26161F1]    Script Date: 06/06/2026 9:20:00 pm ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [TongGioLam]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [GioTangCa]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [Thuong]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [KhauTru]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT (getdate()) FOR [NgayTinhLuong]
GO
ALTER TABLE [dbo].[CauHinhLuong] ADD  DEFAULT ((1.0)) FOR [HeSoLuong]
GO
ALTER TABLE [dbo].[CauHinhLuong] ADD  DEFAULT ((0)) FOR [PhuCapCoDinh]
GO
ALTER TABLE [dbo].[CauHinhLuong] ADD  DEFAULT ((1.5)) FOR [HeSoTangCa]
GO
ALTER TABLE [dbo].[CauHinhLuong] ADD  DEFAULT (getdate()) FOR [NgayApDung]
GO
ALTER TABLE [dbo].[CauHinhLuong] ADD  DEFAULT (N'Đang áp dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy] ADD  DEFAULT ((0)) FOR [SoLuongHuy]
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy] ADD  DEFAULT ((0)) FOR [GiaTriHuy]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TraHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[LichSuThongKe] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT (N'Đang hợp tác') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuTieuHuy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuTieuHuy] ADD  DEFAULT ((0)) FOR [TongSoLuong]
GO
ALTER TABLE [dbo].[PhieuTieuHuy] ADD  DEFAULT ((0)) FOR [TongGiaTriHuy]
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD  CONSTRAINT [FK_BangLuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangLuong] CHECK CONSTRAINT [FK_BangLuong_NhanVien]
GO
ALTER TABLE [dbo].[CauHinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhLuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CauHinhLuong] CHECK CONSTRAINT [FK_CauHinhLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD FOREIGN KEY([MaLoaiCa])
REFERENCES [dbo].[LoaiCa] ([MaLoaiCa])
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD FOREIGN KEY([MaLoaiCa])
REFERENCES [dbo].[LoaiCa] ([MaLoaiCa])
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuHuy_PhieuTieuHuy] FOREIGN KEY([MaPhieuHuy])
REFERENCES [dbo].[PhieuTieuHuy] ([MaPhieuHuy])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy] CHECK CONSTRAINT [FK_ChiTietPhieuHuy_PhieuTieuHuy]
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD FOREIGN KEY([MaLoHang], [MaSP])
REFERENCES [dbo].[ChiTietLoHang] ([MaLoHang], [MaSP])
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD FOREIGN KEY([MaLoHang], [MaSP])
REFERENCES [dbo].[ChiTietLoHang] ([MaLoHang], [MaSP])
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD CHECK  (([TinhTrang]=N'Đã hủy' OR [TinhTrang]=N'Đã hoàn thành' OR [TinhTrang]=N'Đang làm việc' OR [TinhTrang]=N'Đã phân công'))
GO
ALTER TABLE [dbo].[ChiaCa]  WITH CHECK ADD CHECK  (([TinhTrang]=N'Đã hủy' OR [TinhTrang]=N'Đã hoàn thành' OR [TinhTrang]=N'Đang làm việc' OR [TinhTrang]=N'Đã phân công'))
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD CHECK  (([LoaiGiamGia]=N'Tự động' OR [LoaiGiamGia]=N'Tự Nhập'))
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD CHECK  (([LoaiGiamGia]=N'Tự động' OR [LoaiGiamGia]=N'Tự Nhập'))
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD CHECK  (([TrangThaiGiamGia]=N'Đã kết thúc' OR [TrangThaiGiamGia]=N'Đang diễn ra'))
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD CHECK  (([TrangThaiGiamGia]=N'Đã kết thúc' OR [TrangThaiGiamGia]=N'Đang diễn ra'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([BacKH]=N'Vip' OR [BacKH]=N'Vàng' OR [BacKH]=N'Bạc' OR [BacKH]=N'Không hạng'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([BacKH]=N'Vip' OR [BacKH]=N'Vàng' OR [BacKH]=N'Bạc' OR [BacKH]=N'Không hạng'))
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã Cân Kho' OR [TrangThai]=N'Chờ Duyệt'))
GO
ALTER TABLE [dbo].[KiemKeKho]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã Cân Kho' OR [TrangThai]=N'Chờ Duyệt'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([ChucVu]=N'Thu Ngân' OR [ChucVu]=N'ADMIN'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([ChucVu]=N'Thu Ngân' OR [ChucVu]=N'ADMIN'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã Nghỉ' OR [TrangThai]=N'Đang Làm Việc'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã Nghỉ' OR [TrangThai]=N'Đang Làm Việc'))
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadDuLieuBanHang]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- 3. SP: LOAD DỮ LIỆU BÁN HÀNG (POS & SẢN PHẨM)
-- =======================================================
CREATE   PROCEDURE [dbo].[sp_LoadDuLieuBanHang]
AS
BEGIN
    SET NOCOUNT ON;
    -- RS 1: Danh sách Sản Phẩm
    SELECT * FROM SanPham;
    -- RS 2: Chi tiết lô hàng (Để tính tồn kho và HSD)
    SELECT MaSP, SoLuongTon, HSD FROM ChiTietLoHang WHERE SoLuongTon > 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadDuLieuChiaCa]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- 1. SP: LOAD DỮ LIỆU CHIA CA (CHỈ 1 ROUND-TRIP)
-- =======================================================
-- 🌈 Dùng CREATE OR ALTER thay vì CREATE nhé!
CREATE   PROCEDURE [dbo].[sp_LoadDuLieuChiaCa]
AS
BEGIN
    SET NOCOUNT ON;
    -- RS 1: Danh sách ca (Bỏ qua ca Đã Hủy cho nhẹ)
    SELECT * FROM ChiaCa WHERE TinhTrang != N'Đã Hủy';
    -- RS 2: Loại Ca
    SELECT * FROM LoaiCa;
    -- RS 3: Nhân Viên
    SELECT MaNV, HoTen, TrangThai FROM NhanVien;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadDuLieuDonHang]    Script Date: 06/06/2026 9:20:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- 2. SP: LOAD DỮ LIỆU ĐƠN HÀNG (LỊCH SỬ GIAO DỊCH)
-- =======================================================
CREATE   PROCEDURE [dbo].[sp_LoadDuLieuDonHang]
AS
BEGIN
    SET NOCOUNT ON;
    -- RS 1: Hóa Đơn (Mới nhất lên đầu)
    SELECT * FROM HoaDon ORDER BY NgayTao DESC;
    -- RS 2: Chi Tiết Hóa Đơn
    SELECT * FROM ChiTietHoaDon;
    -- RS 3: Khách Hàng (Tối ưu hóa: chỉ select cột cần dùng)
    SELECT MaKH, HoTen, BacKH FROM KhachHang;
    -- RS 4: Nhân Viên
    SELECT MaNV, HoTen FROM NhanVien;
    -- RS 5: Sản Phẩm
    SELECT MaSP, TenSP, MaLoai FROM SanPham;
END
GO
USE [master]
GO
